name: Python package

on: [push, pull_request]

jobs:
  build:

    name: "build (${{ matrix.runs_on }}, ${{ matrix.python }}"
    runs-on: ${{ matrix.runs_on }}
    strategy:
      matrix:
        runs_on: ['macos-latest', 'macos-15-intel']
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}

    - name: Install project
      run: |
        pip install cython pytest setuptools
        pip install .

    - name: Test with pytest
      run: |
        make test_lib
        make
        make tests
